<% action = edit ?  goal_url : goals_url %>
<% submit = edit ? 'Update Goal' : 'Create Goal' %>

<form action='<%= action %>' method='POST'>
  <%= auth_token %>
  <%= patch if edit %>

  <label for='title'>Title: </label>
  <input type='text' name='goal[title]' value='<%= goal.title %>'>
  <br>

  <input type='checkbox' id='completed' name='Completed?' value='true'>
  <label for='completed'>Completed?</label>
  <br>

  <input type='submit' value='<%= submit %>'>
</form>