<h3><%= @goal.title %>  <%= '&#10003;'.html_safe if @goal.completed  %> — <%= @goal.user.username %></h3>

<%= link_to 'Update Goal', edit_goal_path(@goal.id) %>
<%= link_to 'Delete Goal', goal_path(@goal.id), method: :delete %>

<p>Comments:</p>
<% @goal.comments.each do |comment| %>
  <li><%= render comment %></li>
<% end %>

<%= render 'comments/form', subject_id: @goal.id, subject_type: 'Goal' %>